<section>
  <div class="page-header">
    <h1 ng-bind="vm.dispositivo.nome"></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ng-click="vm.turnOnOff()">
      <i class="glyphicon glyphicon-play"></i>
    </a>
    <a class="btn btn-primary" ui-sref="dispositivos.edit({ dispositivoId: vm.dispositivo._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
   <p class="lead">Tipo: {{vm.dispositivo.tipo}}</p>
   <p class="lead">Id_Central: {{vm.dispositivo.central}}</p>
   <p class="lead">Estado: {{vm.dispositivo.estado}}</p>
   <p class="lead">ID: {{vm.dispositivo.id_disp_central}}</p>
 
</section>
